langchain==0.3.6
langchain-community==0.2.0
transformers==4.34.1
torch==2.1.0
sounddevice==0.4.6
scipy==1.11.3
gtts==2.4.0
playsound==1.2.2
openai-whisper==20231106
numpy==1.26.4
async-timeout==4.0.3
langchain-core==0.3.35
langsmith==0.1.17



