numpy==1.26.4
langchain==0.1.0
langchain-community==0.0.10
transformers==4.34.1
tokenizers>=0.14.1
torch==2.6.0
sounddevice==0.4.6
scipy==1.14.1
gtts==2.4.0
playsound==1.2.2
pygobject==3.44.1
openai-whisper



